-# .container.u-margin-bottom-lg{style: "background: url(/images/home/home-particles-3.svg) 55% 20% no-repeat;"}
.container.u-margin-bottom-lg
  .col-6-md
    %img{:src => "/images/enterprise/gitlab-enterprise-icon-accent-01.svg", :style => "display: block; margin: auto;"}
    %h2.text-center.u-margin-top-xs{:style => "font-weight: 400; margin: 0;"} Free GitLab trial
    %p.text-center.u-margin-top-xxs Unlimited access to all features for 30 days.
    .buttons-container.hero-item.u-margin-top-xs.u-margin-bottom-sm.text-center{:style => "min-width: 100%;"}
      = link_to "/free-trial/", class: "btn cta-btn orange-light" do
        Start your free trial
      = link_to "/sales/", class: "btn cta-btn lavender" do
        Contact Sales

