:markdown
  ## Requirements

  * Prior extensive experience in an HR or People Operations role
  * Proven ability to multitask and prioritize workload under the pressure of deadlines and in a fast pace environment
  * Excellent communication and interpersonal skills
  * Innovative and creative, always looking to optimize processes and workflow
  * Exceptional attention to detail and accuracy
  * Excellent computer skills with an ability to adapt to new and complex systems
  * Prior experience using an applicant tracking system, Lever experience is a plus
  * Willingness to learn and use software tools including Git and GitLab
  * Organized, efficient, and proactive with a keen sense of urgency
  * Ability to recognize and appropriately handle highly sensitive and confidential information
  * Experience working remotely is a plus
  * Willing to make People Operations as open and transparent as possible
  * Wanting to work for a fast moving startup
  * You share our [values](/handbook/values/), and work in accordance with those values
  * Successful completion of a background check -- see the [GitLab Code of Business Conduct and Ethics](https://ir.gitlab.com/static-files/7d8c7eb3-cb17-4d68-a607-1b7a1fa1c95d).
